.scrabble_body {
  min-height: 400px;
  min-width: 400px;
  background: #282d31;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 41px;
  padding: 20px;
  z-index: 2;
  position: relative;
}

/* Расположение слов в кроссворде */

.wordForm, .wordScript, .wordVariable, .wordPolymorphism, .wordObject, .wordPreprocessor,  .wordConcatenation {
  display: flex;
}
