@import '../../index.scss';
* {
  margin: 0px;
  padding: 0px;
}

.light {
  .scrabble_body {
    min-height: 400px;
    min-width: 400px;
    background: $scrabble-body-light;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    padding: 20px;
    z-index: 2;
    position: relative;
  }
}

.dark {
  .scrabble_body {
    min-height: 400px;
    min-width: 400px;
    background: $scrabble-body-dark;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    padding: 20px;
    z-index: 2;
    position: relative;
  }
}

/* Расположение слов в кроссворде */

.wordForm,
.wordScript,
.wordVariable,
.wordPolymorphism,
.wordObject,
.wordPreprocessor,
.wordConcatenation {
  display: flex;
}

.wordForm {
  margin-left: 175px;
}
.wordScript {
  margin-left: 87px;
}

.wordVariable {
  margin-left: 43px;
}

.wordMain1 {
  margin-left: 174.5px;
}

.wordPolymorphism {
  margin-left: -1px;
}

.wordMain2 {
  margin-left: 175px;
}

.wordObject {
  margin-left: 175px;
}

.wordPreprocessor {
  margin-left: -1px;
}

.wordConcatenation {
  margin-left: 43px;
}
