* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin-bottom: 50px;
}

.header {
  max-width: 1440px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-style: italic;
  color: white;
  font-size: 20px;
}

.header p {
  font-size: 30px;
}

input[type='checkbox'] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  background: #d9d9d9;
  border-radius: 10px;
}

input:checked[type='checkbox'] {
  background: #d9d9d9;
}

input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  transform: scale(1.1);
  border-radius: 50%;
  background: #0000ff;
  transition: 0.4s;
  top: 2px;
  left: 4px;
}

input:checked[type='checkbox']:before {
  left: 20px;
  background: #000000;
}
